/*table structure*/
thead > tr {
    color: black;
    font-weight: bold;
}

td {
    padding-left: .7em;
    padding-right: .7em;
    /*font-weight: lighter;*/
}

/* class list */
.champ, .finals, .conf, .secondrd, .firstrd, .lottery, .tbd {
    font-style: italic;
    font-weight: lighter;
}

.seasons, .start_date {
    color: grey;
}
/*conference */
.east {
    color: red;
    font-weight: lighter;
}
.west {
    color: #00BFFF;
    font-weight: lighter;
}
/*divisions*/
/*EAST*/
.southeast{
color:#ff7373;
}
.central {
color:#cc0000;
}
.atlantic{
color:#ff4444;
}
/*WEST*/
.southwest{
color:#31698a;
}
.northwest{
color:#3399ff;
}
.pacific{
color:#4169e1;
}




.seasons, .start_date {
    color: grey;
}
